footer{
    display: grid;
    background-color: #333333;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 300px;
}

.direitos{
    color:white;
    padding: 0;
}


